/* * {
  border: 2px solid red;
} */

ul {
    list-style: none;
    padding: 0;
    display: flex;
    color: #f9faf8
}

li {
    padding-left: 60px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    width: 450px;
    height: 250px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.navigation {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-left: 220px;
    padding-right: 220px;
}

.hero {
    display: flex;
    flex-direction: row;
    padding-left: 220px;
    padding-right: 220px;
    align-items: center;
    background-color:#1f2937;
    height: 500px;
}

.textbox {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;

}

.textbox p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.headerlogotext {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

button.hero-button{
    color: #e5e7eb;
    font-weight: 900;
    background-color: #3882f6;
    width: 20%;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
}

.info-box {
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 220px;
    padding-right: 220px;
}

.info-box h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box p {
    text-align: center;
    width: 55%;
}

.boxes img {
    width: 180px;
    height: 180px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 220px;
    padding-right: 220px;
    background-color: #e5e7eb;
    height: 60vh;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-content: center;   
}

cite {
    font-weight: 700;
}

.citation {
    font-size: 36px;
    color: #1f2937;
    font-style:italic;
    text-align: justify;
    margin: 0;
}

.cite {
    text-align: right;
    font-size: 32px;
    font-weight: bold;
}

.cta {
    display: flex;
    background-color: #3882f6;
    margin: 100px 370px 100px 370px;
    padding: 40px 0px 35px 0px;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    color: #e5e7eb;
}

.cta h3 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.cta p {
    margin-top: 5px;
    font-size: 18px;
    padding: 0;
}


.cta button {
    margin-right: 150px;
    border: 2px solid #e5e7eb;
    border-radius: 6px;
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 5px 30px 5px 30px;
    font-weight: bold;
    font-size: 18px;
}

.footer {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #1f2937
}

.footer p {
    color: #F9FAF8;
}
